<%= form_with(model: menu) do |form| %>
<% if menu.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% menu.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :categorise, class: label_class %>
          <%= form.text_area :categorise, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :price, class: label_class %>
          <%= form.text_area :price, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :availability, class: label_class %>
          <%= form.check_box :availability, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if menu.persisted? %>
<%= link_to "Cancel", menu, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", menus_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
