<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Employee</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to employees_path, class: button_class(theme: "transparent") do %>
      All Employees
      <% end %>
      <%= link_to edit_employee_path(@employee), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @employee.name %></p>
      </li>
      <li>
        <p class="font-semibold">Phone:</p>
        <p><%= @employee.phone %></p>
      </li>
      <li>
        <p class="font-semibold">Address:</p>
        <p><%= @employee.address %></p>
      </li>
      <li>
        <p class="font-semibold">Position:</p>
        <p><%= @employee.position %></p>
      </li>
      <li>
        <p class="font-semibold">Experience:</p>
        <p><%= @employee.experience %></p>
      </li>
  </ul>
</div>
