<%= form_with(model: shipper) do |form| %>
<% if shipper.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(shipper.errors.count, "error") %> prohibited this shipper from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% shipper.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :phone, class: label_class %>
          <%= form.text_area :phone, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :company, class: label_class %>
          <%= form.text_area :company, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :rating, class: label_class %>
          <%= form.text_field :rating, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if shipper.persisted? %>
<%= link_to "Cancel", shipper, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", shippers_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
