<div id="<%= dom_id shipper %>">
  <p>
    <strong>Name:</strong>
    <%= shipper.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= shipper.phone %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= shipper.company %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= shipper.rating %>
  </p>

</div>
