<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Restaurant</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to restaurants_path, class: button_class(theme: "transparent") do %>
      All Restaurants
      <% end %>
      <%= link_to edit_restaurant_path(@restaurant), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @restaurant.name %></p>
      </li>
      <li>
        <p class="font-semibold">Hotline:</p>
        <p><%= @restaurant.hotline %></p>
      </li>
      <li>
        <p class="font-semibold">Address:</p>
        <p><%= @restaurant.address %></p>
      </li>
      <li>
        <p class="font-semibold">Rating:</p>
        <p><%= @restaurant.rating %></p>
      </li>
  </ul>
</div>
